body {
  background: #fff;
  font-family: "Roboto", "Arial", sans-serif;
}


/*header*/

.flex-container-header {
  display: flex;
  width: 542px;
  height: 89px;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 163px;
  font-size: 18px;
  font-weight: 600;
}
.flex-container_element-Find_a_doctor,
.flex-container_element-Apps,
.flex-container_element-Testimonials,
.flex-container_element-About_us {
  color: #7D7987;
  font-weight: 100;
} 

#circle1 {
  width: 35px;
  height: 35px;
  background: #458FF6;
  border-radius: 50%;
  position: relative;
  top: -27px;
  left: 1225px;
}

.header-t_in_circle{
  color: #ffffff;
  font-weight: 500;
  position: relative;
  bottom: 77px;
  left: 1235px;
}

.header-trafalgar {
  color: #233348;
  font-weight: 500;
  position: relative;
  bottom: 125px;
  left: 1270px;
}


/*container*/

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.app_container {
  padding-top: 68px;
}

.app_inner {
  width: 360px;
}

.app_heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #091133;
  margin: 90px 0 20px;
}

#rectangle1 {
  width: 56px;
  height: 2px;
  background: #000000;
  margin: 30px 0;
}

.app_paragraph {
  color: #7D7987;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: -55px;
}

.button-download {
  width: 200px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  color: #458FF6;
  background: #ffffff;
  border: 2px solid #458FF6;
  border-radius: 50px;
}

.header {
  background: url(../images/header-image.svg) no-repeat 80% 40% ;
  height: 1103px;
  margin-bottom: -200px;
}

.article_dot {
  position: relative;
  left:850px;
  top: 60px;
}


/*article*/

.title {
  font-weight: 500;
  font-size: 46px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

#rectangle2 {
  width: 56px;
  height: 2px;
  background: #000000;
  margin: 30px 0 72px;
  position: relative;
  left: 48%;
}

.article > .container {
  display: flex;
  align-items: center;
}

.article1_container,
.article2_container,
.article3_container{
  display: flex;
  height: 512px;
  background-color: white;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 72px;
  border-radius: 30px;
  -webkit-box-shadow: 7px 33px 52px -6px rgba(178,194,237,0.2);
-moz-box-shadow: 7px 33px 52px -6px rgba(178,194,237,0.2);
box-shadow: 7px 33px 52px -6px rgba(178,194,237,0.2);
}

.article {
  background: url(../images/Vector.svg) no-repeat 115%;
  height: 700px;
}

.article_info__image {
  border-radius: 30px 30px 0 0;
}

.article_background{
  background: url(../images/dot.svg) no-repeat 8% 3%;
  background-size: 150px 135px;
}

.article_info {
  display: flex;
  margin-top: 60px;
}

.article_info__item {
  margin-right: 30px;
}

.article_info__title {
  width: 244px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin: 20px 40px;
}

.article_info__text {
  width: 244px;
  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  color: #7D7987;
  margin: 20px 40px;
}

.article_read {
  margin: 20px 40px 120px 40px;
  color: #4089ED;
}

.article_button-view {
  width: 200px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  color: #458FF6;
  background: #ffffff;
  border: 2px solid #458FF6;
  border-radius: 50px;
  position: relative;
  left: 39%;
}


/*customer*/

.customer {
  margin-top: 271px;
  height: 768px;
  background: url(../images/Rectangle3.svg) no-repeat 50% 40%;
  background-color: #F3F8FE;
}

.customer_inner {
  height: 180px;
}

.customer > .title {
  color: white;
  font-size: 40px;
}

#rectangle4 {
  width: 56px;
  height: 2px;
  background: #ffffff;
  margin: 25px 0 70px;
  position: relative;
  left: 48%;
}

.customer_container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  align-items: center;
  line-height: 180%;
}

.customer_info__image {
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.customer_info {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.customer_name {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.customer_position {
  color: rgba(255, 255, 255, 0.85);
}

.paragraph {
  width: 390px;
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.9);
}

.customer_swiper {
  display: flex;
  justify-content: center;
  margin: 100px 0 1000px;
}

.customer_swiper_dot1,
.customer_swiper_dot2 {
  width: 10px;
  height: 10px;
  background: rgba(91, 155, 243, 1);
  border-radius: 50%;
  margin: auto 9px;
}

.customer_swiper_dot2 {
  background: rgba(91, 155, 243, 0.3);
}

.customer_swiper_arrow1,
.customer_swiper_arrow2 {
   margin: auto 92px;
}

.customer_swiper_arrow1 {
  opacity: 30%;
}


/*footer*/

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  height: 165px;
}

.footer_inner{
  background: url(../images/dot2.svg) no-repeat left bottom;
  background-size: 115px 90px;
}

.footer_container {
  display: flex;
  flex-direction: row;
}

.footer_element {
  display: flex;
  position: relative;
  left: 615px;
  bottom: -25px;
  align-items: center;
  justify-content: space-between;
  width: 550px;
}

#footer_circle2 {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 182px;
}

.footer_header-t_in_circle2 {
  color: #5B9BF3;
  font-weight: 500;
  position: relative;
  bottom: -30px;
  left: 192px;
}

.footer_header-trafalgar2 {
  color: #ffffff;
  font-weight: 500;
  position: relative;
  bottom: 18px;
  left: 227px;
}

.footer_element_company ,
.footer_element_region ,
.footer_element_help {
  color: #ffffff;
  font-size: 18px;
}
