.container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .app_container {
    padding-top: 68px;
  }
  
  .app_inner {
    width: 360px;
  }
  
  .app_heading {
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #091133;
    margin: 90px 0 20px;
  }
  
  #rectangle1 {
    width: 56px;
    height: 2px;
    background: #000000;
    margin: 30px 0;
  }
  
  .app_paragraph {
    color: #7D7987;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: -55px;
  }
  
  .button-download {
    width: 200px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    color: #458FF6;
    background: #ffffff;
    border: 2px solid #458FF6;
    border-radius: 50px;
  }
  
  .button-download:hover {
    background-color: #f1f3fc;
  }
  
  .header {
    background: url(../images/header-image.svg) no-repeat 80% 40% ;
    height: 1103px;
    margin-bottom: -200px;
  }
  
  .article_dot {
    position: relative;
    left:850px;
    top: 60px;
  }
  