.customer {
    margin-top: 271px;
    height: 768px;
    background: url(../images/Rectangle3.svg) no-repeat 50% 40%;
    background-color: #F3F8FE;
  }
  
  .customer_inner {
    height: 180px;
  }
  
  .customer_media > .title {
    color: white;
    font-size: 40px;
  }
  
  #rectangle4 {
    width: 56px;
    height: 2px;
    background: #ffffff;
    margin: 25px auto 70px;
  }
  
  .customer_container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
    line-height: 180%;
  }
  
  .customer_info__image {
    border-radius: 50%;
    border: 4px solid #ffffff;
  }
  
  .customer_info {
    display: flex;
    flex-direction: column;
    width: 280px;
  }
  
  .customer_name {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  
  .customer_position {
    color: rgba(255, 255, 255, 0.85);
  }
  
  .paragraph {
    width: 390px;
    margin-right: 40px;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .customer_swiper {
    display: flex;
    justify-content: center;
    margin: 100px 0 1000px;
  }
  
  .customer_swiper_dot1,
  .customer_swiper_dot2 {
    width: 10px;
    height: 10px;
    background: rgba(91, 155, 243, 1);
    border-radius: 50%;
    margin: auto 9px;
  }
  
  .customer_swiper_dot2 {
    background: rgba(91, 155, 243, 0.3);
  }
  
  .customer_swiper_dot2:hover{
    background-color: rgba(91, 155, 243, 1);
  }
  
  .customer_swiper_arrow1,
  .customer_swiper_arrow2 {
     margin: auto 92px;
  }
  
  .customer_swiper_arrow1 {
    opacity: 30%;
  }